<div class="container-fluid">
    <super-navbar>
        <super-navbar-title>
        Taxi Details
        </super-navbar-title> 
    </super-navbar>

  <div class="form-group">
    <p><b>Departure Location</b></p>
    <p>Northwestern University</p>
  </div>
  <div class="form-group">
    <p><b>Destination</b></p>
    <p>O'Hare Airport</p>
  </div>

  <div class="form-group">
  	<p><b>Departure Date and Time</b></p>
    <p>6/5/2015 10:00 AM<p>

  </div>


  <div class="form-group">
    <p><b>Passengers</b></p>
      
      <p>johncarter@mail.com</p>
      <p>peterparker@mail.com</p>
      <p>johnrambo@mail.com</p>
      
  </div>

  <div class="form-group">
    <p><b>Additional Notes</b></p>
    <p>Women only party. Maximum of 5 minutes late.</p>
  </div>
 
  <button type="submit" class="btn btn-default">Join Taxi</button>




</div>