<div>
    <super-navbar>
        <super-navbar-title>
        FareShare
        </super-navbar-title> 
    </super-navbar>
    <div class="taxiRow" style="font-size: 15px; border-bottom: solid;">
  		<div class="row">
  			<div class="col-xs-7">
    			<p>From: O'Hare</p>
    		</div>
    		<div class="col-xs-5">
    			<p>Mar 13, 12:00pm</p>
    		</div>
  		</div>
  		<div class="row">
  			<div class="col-xs-8">
    			<p>To: Northwestern</p>
    		</div>
    		<div class="col-xs-5">
    			<p>Seats: 3</p>
    		</div>
  		</div>
  	</div>
</div>


