<div ng-controller="GettingStartedController">
    <super-navbar>
        <super-navbar-title>
        FareShare
        </super-navbar-title> 
    </super-navbar>

    <div id="Taxi-row-container">
    <div class="taxiRow">
        <super-navigate view-id="full-details"> 
            <div class="row">
                <div class="col-xs-7">
                    <p>From: {{cow}}</p>
                </div>
                <div class="col-xs-5">
                    <p>Apr 13, 12:00pm</p>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-7">
                    <p>To: O'Hare</p>
                </div>
                <div class="col-xs-5">
                    <p>Seats: 3</p>
                </div>
            </div>
        </super-navigate>
  	</div>
    </div>
</div>