<div ng-controller="GettingStartedController">
    <super-navbar>
        <super-navbar-title>
        FareShare
        </super-navbar-title> 
    </super-navbar>

    <div id="Taxi-row-container">
    <div class="taxiRow">
        <super-navigate view-id="full-details"> 
            <div class="row">
                <div class="col-xs-7">
                    <p>From: {{cow}}</p>
                </div>
                <div class="col-xs-5">
                    <p>Apr 13, 12:00pm</p>
                </div>
            </div>
        </super-navigate>
            <div class="row">
              <div class="col-xs-10">
              </div>
              <div class="col-xs-2">
                <button class="btn btn-default" ng-click="join1()">Join</button>
              </div>
            </div>
            <div class="row">
                <div class="col-xs-7">
                    <p>To: O'Hare</p>
                </div>
                <div class="col-xs-5">
                    <p>Seats: {{seat1}}</p>
                </div>
            </div>
  	</div>
        <div class="taxiRow">
            <div class="row">
                <div class="col-xs-7">
                    <p>From: Midway</p>
                </div>
                <div class="col-xs-5">
                    <p>Apr 18, 1:00pm</p>
                </div>
            </div>
            <div class="row">
              <div class="col-xs-10">
              </div>
              <div class="col-xs-2">
                <button class="btn btn-default" ng-click="join2()">Join</button>
              </div>
            </div>
            <div class="row">
                <div class="col-xs-7">
                    <p>To: Northwestern</p>
                </div>
                <div class="col-xs-5">
                    <p>Seats: {{seat2}}</p>
                </div>
            </div>
    </div>
        <div class="taxiRow">
            <div class="row">
                <div class="col-xs-7">
                    <p>From: Norris</p>
                </div>
                <div class="col-xs-5">
                    <p>Apr 14, 4:00pm</p>
                </div>
            </div>
            <div class="row">
              <div class="col-xs-10">
              </div>
              <div class="col-xs-2">
                <button class="btn btn-default" ng-click="join3()">Join</button>
              </div>
            </div>
            <div class="row">
                <div class="col-xs-7">
                    <p>To: Gilt Bar</p>
                </div>
                <div class="col-xs-5">
                    <p>Seats: {{seat3}}</p>
                </div>
            </div>
    </div>
        <div class="taxiRow">
            <div class="row">
                <div class="col-xs-7">
                    <p>From: Evanston Place</p>
                </div>
                <div class="col-xs-5">
                    <p>Apr 13, 12:00pm</p>
                </div>
            </div>
            <div class="row">
              <div class="col-xs-10">
              </div>
              <div class="col-xs-2">
                <button class="btn btn-default" ng-click="join4()">Join</button>
              </div>
            </div>
            <div class="row">
                <div class="col-xs-7">
                    <p>To: Gurnee Mills Mall</p>
                </div>
                <div class="col-xs-5">
                    <p>Seats: {{seat4}}</p>
                </div>
            </div>
    </div>
    </div>
</div>