<div ng-controller="loginController" class="container-fluid">>
	<section id="content">
		<form action="">
			<h1>Login Form</h1>
			<div>
				<input type="username" placeholder="Username" required="" id="username" />
			</div>
			<div>
				<input type="password" placeholder="Password" required="" id="password" />
			</div>
			<div>
				<input type="submit" value="Log in" />
				<div><a href="#">Lost your password?</a>{{hello}}</div>
				<div><a href="#">Register</a></div>
			</div>
		</form><!-- form -->
		<div class="button">
		</div><!-- button -->
	</section><!-- content -->
</div>
