.mytaxi-header {
  font-size: 18px;
  color: black; 
  margin-top: 15px;
  background-color: #E8E8E8;
  padding-top: .2cm;
  padding-bottom: .2cm;
  padding-left: .2cm;
}

.supersonic-navbar-mock {
  background-color: #00B5FF !important;
  text-align: center;
  font-weight: 600;
}

#login {
    margin: 50px auto;
    width: 95%;
    -webkit-border-radius: 20px 20px 0 0;
    -moz-border-radius: 20px 20px 0 0;
    border-radius: 20px 20px 20px 20px;
    background-color: #E8E8E8;
}

#login h2 {
    text-align: center;
    background-color: #00B5FF;
    -webkit-border-radius: 20px 20px 0 0;
    -moz-border-radius: 20px 20px 0 0;
    border-radius: 20px 20px 0 0;
    border-color: #00B5FF;
    color: #fff;    
    font-size: 24px;
    padding: 20px 26px;
}

#login h2 span[class*="fontawesome-"] {
    margin-right: 14px;
}

#login fieldset {
    background-color: #E8E8E8;
    -webkit-border-radius: 0 0 20px 20px;
    -moz-border-radius: 0 0 20px 20px;
    border-radius: 0 0 20px 20px;
    padding: 20px 26px;
}

#login fieldset p {
    color: #777;
    margin-bottom: 5px;
    font-size: 18px;
}

#login fieldset p:last-child {
    margin-bottom: 0;
}

div.taxiRow{
  border-bottom:solid;
  border-width:3px;
  border-bottom-color:#00B5FF;
  font-size: 15px;
}

div.userRow{
  border-bottom:solid;
  border-width:3px;
  border-bottom-color:#00B5FF;
  font-size: 15px;
}

#login fieldset input[type="text"], #login fieldset input[type="password"] {
    
    background-color: #f8f8f8;
    color: #777;
    padding: 4px 10px;
    width: 100%;

}

a.button-color:link{
    color: black
}
a.button-color:visited {color:black;} /* visited link */
a.button-color:hover {color:black;}   /* mouse over link */
a.button-color:active {color:black;}  /* selected link */

div#login-header{
    width: 100%;
    height: 55px;
    border: 0px rgb(89,89,89) solid;
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
    background: rgb(5, 11, 13);
    color: rgb(252, 249, 249);
    font-size: 28px;
    font-weight: inherit;
    font-family: inherit;
    font-style: italic;
    text-decoration: inherit;
    text-align: center;
    line-height: 2em;
}
/*.login-form.input[type="text"] {
    font-size: 20px;
}}*/
div#text-input{
  width: 100%;
  height: 40px;
  color: #777;
  padding: 0px 0px 0px 0px;  

  /*border: 3px rgb(89,89,89) solid;*/
}


div#user-info{
color: rgb(17, 54, 185);
font-size: 16px;
font-weight: bold;
font-family: Arial, Helvetica, sans-serif;
font-style: normal;
text-decoration: inherit;
text-align: left;
line-height: 1.3em;
}
/*
button#login-button {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2), color-stop(1, #476e9e));
  background:-moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
  background:-webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
  background:-o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
  background:-ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
  background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2', endColorstr='#476e9e',GradientType=0);
  background-color:#7892c2;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
  border-radius:10px;
  border:1px solid #4e6096;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:arial;
  font-size:19px;
  padding:9px 34px;
  text-decoration:none;
}*/

.wrapper{
  text-align: center;
}


button#login-button {
  margin-top: 14px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #ffffff;
  width: 125px;
  padding: 8px 21px;
  background-color: #00B5FF;
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  border-radius: 14px;
  border: 0px solid #000000;


 
}
