.supersonic-navbar-mock {
  background-color: #00B5FF !important;
  text-align: center;
  font-weight: 600;
}

div.taxiRow{
border-bottom:solid;
border-width:3px;
border-bottom-color:#00B5FF;
font-size: 15px;
}

div.userRow{
border-bottom:solid;
border-width:3px;
border-bottom-color:#00B5FF;
font-size: 15px;
}

a.button-color:link{
    color: black
}
a.button-color:visited {color:black;} /* visited link */
a.button-color:hover {color:black;}   /* mouse over link */
a.button-color:active {color:black;}  /* selected link */


.login{
display: block;
text-align: center;
}
input.login[type=text] {
  float: center;
  display: block;
  height: 60px; 
}