<div class="list">

  
  <label class="item item-input item-stacked-label">
    <span class="input-label">createdAt</span>
    <input type="text" ng-model="usertable['createdAt']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">firstName</span>
    <input type="text" ng-model="usertable['firstName']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">lastName</span>
    <input type="text" ng-model="usertable['lastName']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">objectId</span>
    <input type="text" ng-model="usertable['objectId']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">phoneNumber</span>
    <input type="text" ng-model="usertable['phoneNumber']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">updatedAt</span>
    <input type="text" ng-model="usertable['updatedAt']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">userName</span>
    <input type="text" ng-model="usertable['userName']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">userPassword</span>
    <input type="text" ng-model="usertable['userPassword']">
  </label>
  

  <br>

  <button class="button button-block button-positive">Save</button>

</div>
