<div class="list">

  
  <label class="item item-input item-stacked-label">
    <span class="input-label">createdAt</span>
    <input type="text" ng-model="taxidatatwo['createdAt']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">departDate</span>
    <input type="text" ng-model="taxidatatwo['departDate']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">departTime</span>
    <input type="text" ng-model="taxidatatwo['departTime']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">deptAddr</span>
    <input type="text" ng-model="taxidatatwo['deptAddr']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">destAddr</span>
    <input type="text" ng-model="taxidatatwo['destAddr']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">maxPassengers</span>
    <input type="text" ng-model="taxidatatwo['maxPassengers']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">notes</span>
    <input type="text" ng-model="taxidatatwo['notes']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">objectId</span>
    <input type="text" ng-model="taxidatatwo['objectId']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">partyLeader</span>
    <input type="text" ng-model="taxidatatwo['partyLeader']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">passengerList</span>
    <input type="text" ng-model="taxidatatwo['passengerList']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">remainingSeats</span>
    <input type="text" ng-model="taxidatatwo['remainingSeats']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">updatedAt</span>
    <input type="text" ng-model="taxidatatwo['updatedAt']">
  </label>
  

  <br>

  <button class="button button-block button-positive">Save</button>

</div>
