<div class="list">

  
  <label class="item item-input item-stacked-label">
    <span class="input-label">createdAt</span>
    <input type="text" ng-model="taxidata['createdAt']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">departAddress</span>
    <input type="text" ng-model="taxidata['departAddress']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">departTime</span>
    <input type="text" ng-model="taxidata['departTime']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">destAddress</span>
    <input type="text" ng-model="taxidata['destAddress']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">objectId</span>
    <input type="text" ng-model="taxidata['objectId']">
  </label>
  
  <label class="item item-input item-stacked-label">
    <span class="input-label">updatedAt</span>
    <input type="text" ng-model="taxidata['updatedAt']">
  </label>
  

  <br>

  <button class="button button-block button-positive">Save</button>

</div>
