<div ng-controller="ShowController">
  <super-navbar>
    <super-navbar-title>
      Show
    </super-navbar-title>
  </super-navbar>

  <div class="padding">
    <div ng-show="showSpinner" ng-include="'_spinner.html'"></div>
    <div ng-hide="showSpinner">
      <h2 ng-bind="taxidata['createdAt']"></h2>
      
      
      
       <p>departAddress: <span ng-bind="taxidata['departAddress']"></span></p> 
      
       <p>departTime: <span ng-bind="taxidata['departTime']"></span></p> 
      
       <p>destAddress: <span ng-bind="taxidata['destAddress']"></span></p> 
      
       <p>objectId: <span ng-bind="taxidata['objectId']"></span></p> 
      
       <p>updatedAt: <span ng-bind="taxidata['updatedAt']"></span></p> 
      


      <super-modal-show location="taxidata#edit?id={{ taxidata.id }}">
        <button class="button button-block button-positive">
          Edit
        </button>
      </super-modal-show>

      <button ng-click="remove(taxidata.id)" class="button button-block button-negative">
        Remove
      </button>
    </div>
  </div>
</div>
