/***********************************************************
 * These styles apply for native components on Android.
 * Read more about native styles at http://docs.appgyver.com
 ***********************************************************/


navigation-bar {
  background-color: purple;
  color: #ffffff;
  padding-left: 6px;
  padding-right: 6px;
}

navigation-bar title {
  text-align: center;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
}

navigation-bar button {
  color: #ffffff;
  font-size: 13px
  font-weight: 300;
  border-radius: 4px;
}

navigation-bar back-indicator {
  background-image: url(default_back_icon.png);
  background-size: 18;
}

navigation-bar back-button {
  color: #ffffff;
  font-weight: 300;
}



/**************************************
 *  Tab Bar
 *************************************/

tab-bar {
  background-color: #ffffff;
  border-top: 1px #d8d8d8 solid;
}

tab-bar tab-bar-item {
  color: black;
  font-family: "Roboto";
  font-size: 10px;
}

tab-bar tab-bar-item:selected {
  color: purple;
}

tab-bar divider {
  background-color: #D8D8D8;
}

tab-bar tab-bar-item marker-top:selected {
  background-color: purple;
}

tab-bar-item#form-party {
  background-image: url(icons/addpeople.svg);
}

tab-bar-item#home {
  background-image: url(icons/taxi.svg);
}

tab-bar-item#my-taxi {
  background-image: url(icons/user.svg);
}