/***********************************************************
 * These styles apply for native components on iOS.
 * Read more about native styles at http://docs.appgyver.com
 ***********************************************************/
div#one{
border-bottom: solid;
font-size: 15px;
}

navigation-bar {
  background-color: #00B5FF;
  color: #ffffff;
}

navigation-bar title {
  text-align: left;
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
}

navigation-bar button, navigation-bar back-bar-button {
  color: #ffffff;
  font-weight: 300;
}

tab-bar {
  background-color: #ffffff;
  border-top: 1px #d8d8d8 solid;
}

tab-bar tab-bar-item {
  color: #b0b1b4;
  font-family: "Avenir";
  font-size: 10px;
}

tab-bar tab-bar-item:selected {
  color: #1596f7;
}

tab-bar-item#form-party {
  background-image: url(icons/cog.svg);
}

tab-bar-item#home {
  background-image: url(icons/home.svg);
}

tab-bar-item#my-taxi {
  background-image: url(icons/search.svg);
}
