/***********************************************************
 * These styles apply for native components on iOS.
 * Read more about native styles at http://docs.appgyver.com
 ***********************************************************/
div#one{
border-bottom: solid;
font-size: 15px;
}

navigation-bar {
  background-color: purple;
  color: #ffffff;
}

navigation-bar title {
  text-align: center;
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
}

navigation-bar button, navigation-bar back-bar-button {
  color: #ffffff;
  font-size: 13px;
  font-weight: 300;
  border-radius: 4px;
}



tab-bar {
  background-color: #ffffff;
  border-top: 1px #d8d8d8 solid;
}

tab-bar tab-bar-item {
  color: black;
  font-family: "Avenir";
  font-size: 10px;
}

tab-bar tab-bar-item:selected {
  color: #1596f7;
}

tab-bar-item#form-party {
  background-image: url(icons/addpeople.svg);
}

tab-bar-item#home {
  background-image: url(icons/taxi.svg);
}

tab-bar-item#my-taxi {
  background-image: url(icons/user.svg);
}
